<nav class="navbar sticky-top navbar-expand-lg bg-dark">
  <%= link_to "Admin Les Lanchettes", kath_root_path, class:"navbar-brand mx-2", id:"navbar-brand-admin" %>
  <button class="navbar-toggler ml-auto mr-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-align-justify text-white"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto text-light">
      <li class="nav-item active">
        <%= link_to "Ajouter une semaine", new_kath_availability_path, class: "nav-link" %>
      </li>
      <span class="nav-slash"> / </span>
      <li class="nav-item">
        <%= link_to "Créer un contrat", new_kath_contract_path, class: "nav-link" %>
      </li>
      <span class="nav-slash"> / </span>
      <li class="nav-item">
        <%= link_to "Liste des contrats", kath_contracts_path, class: "nav-link" %>
      </li>
    </ul>
    <%= link_to "Voir le site", root_path, class: "btn btn-outline-success ml-auto mr-1" %>
    <%= link_to "Déconnexion", session_path(session.id), class: "btn btn-outline-danger ml-auto", method:'DELETE' %>

  </div>
</nav>