<div class="container text-center">
  <h1 class='pt-4'>Connexion</h1>

    <%= form_with(url: sessions_path, scope: :session, local: true, class:"d-flex justify-content-center") do |f| %>
      
      <div class="form-group w-25">
        <%= f.label :email, class:"pt-2" %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, class:"pt-2" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Se connecter", class: " mt-2 btn btn-primary" %>
    <% end %>
    </div>

</div>
