<!-- Appartment -->
<div class="container text-center mt-5">
  <hr class="w-50">
  <h2 class="section-header text-dark">L'APPARTEMENT</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
        <%= image_tag "home/VueSalon.jpg" %>
          <div class="card-body">
            <p class="card-text text-left">Grand salon lumineux</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
          <%= image_tag "home/VueChambre.jpg" %>
          <div class="card-body">
            <p class="card-text text-left">Chambre vue jardin</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
          <%= image_tag "home/VueSalon.jpg" %>
          <div class="card-body">
            <p class="card-text text-left">D'autres photos trop cool</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
        <%= image_tag "home/VueSalon.jpg" %>
          <div class="card-body">
            <p class="card-text text-left">D'autres photos trop cool</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>
</div>

<hr class="w-50">

<!-- EQUIPEMENTS -->
<section class="bg-red">
  <div class="container text-center mt-5">
    <h2 class="section-header">ÉQUIPEMENTS</h2>
    <div class="row pb-4">
      <div class="col-md-3 sm mt-3">
        <i class="fas fa-wifi" style="font-size: 50px;"></i>
        <h4 class="m-3">Wi-Fi</h4>
      </div>
      <div class="col-md-3 sm mt-3">
        <%= image_tag  "http://cdn.onlinewebfonts.com/svg/img_539280.png", class: "washing-machine" %>
        
        <h4 class="m-3">Lave linge</h4>
      </div>
      <div class="col-md-3 sm mt-3">
        <i class="fas fa-warehouse" style="font-size: 50px;"></i>
        <h4 class="m-3">Garage skis / vélos</h4>
      </div>
      <div class="col-md-3 sm mt-3">
        <i class="fas fa-parking" style="font-size: 50px;"></i>
        <h4 class="m-3">Parking privé</h4>
      </div>
    </div> 
  </div>
</section>
