<!-- Appartment -->
<section>
  <hr class="w-50 mt-5">
  <h2 class="section-header text-dark">L'APPARTEMENT</h2>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm appartment-card">
          <%= image_tag "home/VueSalon.jpg" %>
          <div class="card-body">
            <p class="card-text">Orientation Sud</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4 shadow-sm appartment-card">
          <%= image_tag "home/VueChambre.jpg" %>
          <div class="card-body">
            <p class="card-text">Jardin privé avec BBQ</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm appartment-card">
          <%= image_tag "home/VueSalon.jpg" %>
          <div class="card-body">
            <p class="card-text">Grand salon lumineux</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4 shadow-sm appartment-card">
          <%= image_tag "home/VueSalon.jpg" %>
          <div class="card-body">
            <p class="card-text">Chambre avec vue sur le jardin</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm appartment-card">
          <%= image_tag "home/VueSalon.jpg" %>
          <div class="card-body">
            <p class="card-text">Salle de douche avec toilettes séparées</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4 shadow-sm appartment-card">
          <div class="card-body">
            <h3 class="card-title text-center pt-2">Informations</h3>
            <ul class="list-group list-group-flush pt-2">
              <li class="list-group-item">Inclus : toutes les charges d'eau et d'électricité.</li>
              <li class="list-group-item">Les animaux ne sont pas acceptés.</li>
              <li class="list-group-item">Appartement non fumeur.</li>
              <li class="list-group-item">Connection Wifi incluse.</li>
              <li class="list-group-item">Taxe de séjour (1.65 € / adulte / jour).</li>
              <li class="list-group-item">En supplément : location de draps (12€/personne) & ménage au départ (50€).</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>

<hr class="w-50 mt-5">

<!-- EQUIPEMENTS -->
<section class="bg-green">
  <div class="container text-center mt-5">
    <h2 class="section-header text-fluid">ÉQUIPEMENTS</h2>
    <div class="row pb-4">
      <div class="col-md-3 sm mt-3">
        <i class="fas fa-wifi" style="font-size: 50px;"></i>
        <h4 class="m-3">Wi-Fi</h4>
      </div>
      <div class="col-md-3 sm mt-3">
        <%= image_tag  "http://cdn.onlinewebfonts.com/svg/img_539280.png", class: "washing-machine" %>
        
        <h4 class="m-3">Lave linge</h4>
      </div>
      <div class="col-md-3 sm mt-3">
        <i class="fas fa-warehouse" style="font-size: 50px;"></i>
        <h4 class="m-3">Garage skis / vélos</h4>
      </div>
      <div class="col-md-3 sm mt-3">
        <i class="fas fa-parking" style="font-size: 50px;"></i>
        <h4 class="m-3">Parking privé</h4>
      </div>
    </div> 
  </div>
</section>
