<!DOCTYPE html>
<html>
  <head>
    <title>Chalet Les Lanchettes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="https://878580.smushcdn.com/761978/wp-content/uploads/2017/06/house-favicon-300x300.png?lossy=1&strip=1&webp=1">

    <%= wicked_pdf_stylesheet_link_tag "contracts" %>

<!-- CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>
    <div class="container">
      <h1 class="text-center"><u>CONTRAT DE LOCATION</u></h1>
      <div class="border border-dark p-2 m-2">
        <p class="m-1"><u>Propriétaire</u>: RUFFIER LANCHE Katherine</p>
        <p class="m-1"><u>Adresse</u>: Les Lanchettes, Côte Arbet, 73350 CHAMPAGNY EN VANOISE</p>
        <p class="m-1"><u>Téléphone portable</u>: <b class="text-danger">06 81 55 91 35</b></p>
        <p class="m-1"><u>Email</u>: <span class="text-primary">leslanchettes@wanadoo.fr</span></p>
      </div>

      <div class="border border-dark p-2 m-2">
        <p class="m-1"><u>Locataire</u>: <%= @contract.last_name.upcase + " " + @contract.first_name.capitalize %></p>
        <p class="m-1"><%= @contract.address %></p>
        <p class="m-1"><u>Téléphone portable </u>: <%= @contract.phone_number %></p>
        <p class="m-1"><u>Email</u>: <span class="text-primary"><%= @contract.email %></span></p>
      </div>

      <div class="border border-danger p-2 m-2">
        <p class="m-1">Objet du contrat : LOCATION APPARTEMENT 2 PIÈCES 3 PERSONNES - 38m²</p>
        <p class="m-1">Classé *** Meublé Tourisme - Classé *** Cristaux Paradiski - Gite de France n° 071229</p>
        <p class="m-1"><u>Durée de la location</u>: <span class="text-danger"><%= @contract.duration %></span></p>
        <p class="m-1"><u>Prix du séjour</u>: <span class="text-danger"><%= @contract.price %> €</span></p>
        <p class="m-1 text-danger">Acomptes à verser à la signature du contrat : 200 € (virement - chèque - chèques vacances)</p>
        <p class="m-1">(Toutes charges comprises : eau, électricité, chauffage, wifi)</p>
        <hr>
        <p class="m-1"><u>Banque</u>: Crédit Agricole des Savoie, 73350 BOZEL</p>
        <p class="m-1"><u>IBAN</u>: FR76 1810 6008 1091 4269 3605 058</p>
        <p class="m-1"><u>Code Swift</u>: AGRIFRPP881 </p>
      </div>

      <div class="border border-dark p-2 m-2">
        <p class="m-1"><u>En supplément</u>:</p>
        <ul class="m-1">
          <li class="m-1">Taxe de séjour: 1,65 € par adultes et par jour</li>
          <li class="m-1">Ménage en fin de séjour : 50 €</li>
          <li class="m-1"> Location de linge de lit : 12 € la paire avec la taie</li>
        </ul>
      </div>

      <div class="border border-dark p-2 m-2">
        <p class="m-1"><u>Nbs de personnes occupant le logement</u>: .... Adultes, .... Enfants </p>
        <p class="m-1"><u>Caution</u>: 500 €, à régler à l’arrivée, en plus du solde du loyer 
          Elle vous sera remboursée le jour de votre départ, déduction faite des éventuelles 
          détériorations ou du coût de  remise en état des lieux ou du ménage non effectué.
        </p>
      </div>

      <div class="mt-3">
        <div class="float-left w-50 pl-2">
          <p class="m-1">Fait à CHAMPAGNY le <%= Time.now.strftime('%d/%m/%Y') %></p>
          <p class="m-1">La propriétaire</p>
          <span class="ml-5"><%= image_tag image_url ("kath/signature_kath.png") %></span><br><br>
        </div>

        <div class="text-right float-right w-50 pr-2">
          <p class="m-1">Fait à .............................................................</p>
          <p class="m-1">le .................................</p>
          <p>Le locataire (faire précéder la signature de "lu et approuvé")</p>
        </div>
      </div>
    </div>

    <p style='page-break-after:always;'></p>

    <div class="container">
      <h2 class="text-center"><u>CONDITIONS GÉNÉRALES DE RÉSERVATION</u></h2>
      <div class="border border-dark p-2 m-2 small-text">
        <h6><u>Conditions de location :</u></h6>
        <ul>
          <li>Le solde de la location sera versé le jour de l'arrivée au plus tard.</li>
          <li>Un inventaire des lieux sera fait par le propriétaire au début et à la fin du séjour.</li>
          <li>Toute perte ou dégât occasionné par le vacancier fera l'objet d'une indemnisation.</li>
          <li>Le locataire s'engage à rendre le meublé aussi propre qu'il l'aura trouvé à son arrivée ou à payer le forfait ménage indiqué dans le contrat.</li>
          <li>En cas d'interruption anticipée du séjour par le locataire, il ne sera procédé à aucun remboursement.</li>
          <li>Si le locataire retarde son arrivée, il doit en aviser le propriétaire avant la date d'arrivée prévue au contrat.</li>
          <li>Si le nombre de personnes dépasse la capacité d'accueil indiqué sur le présent contrat et sans accord préalable, le propriétaire se réserve le droit de refuser les locataires supplémentaires.</li>
          <li>La location en peut en aucun cas bénéficier à des tiers, sauf accord préalable avec le propriétaire.</li>
          <li>Le locataire doit assurer le caractère paisible de la location et en faire usage conformément à la destination des lieux.</li>
        </ul>
      </div>
      <div class="border border-dark p-2 m-2 small-text">
        <h6><u>Conditions d'annulation :</u></h6>
        <ul>
          <li>Toute annulation doit être notifiée par lettre recommandée ou par tout autre moyen par écrit.</li>
          <li>Avant la prise en possession des lieux : l'acompte reste acquis au propriétaire sauf si celui-ci trouve un autre locataire au même prix et conditions.</li>
          <li>Le jour de l'arrivée ou dans les 24 heures qui suivent la date d'arrivée prévue : l'acompte reste dans tous les cas acquis au propriétaire qui se réserve le droit de 
            réclamer le solde de la location. Dans ce cas, également le présent contrat devient nul sans avis notifié et le propriétaire peut disposer de son meublé.</li>
          <li>En ce cas d'annulation de la location de présent contrat par le propriétaire, celui-ci reversera le double du montant de l'acompte qu'il a perçu.</li>
          <li>À défaut d'accord amiable entre les deux parties, il est fait attribution de compétence au tribunal d'Albertville.</li>
          <li>Si le locataire retarde son arrivée, il doit en aviser le propriétaire avant la date d'arrivée prévue au contrat.</li>
          <li>Si le nombre de personnes dépasse la capacité d'accueil indiqué sur le présent contrat et sans accord préalable, le propriétaire se réserve le droit de refuser les locataires supplémentaires.</li>
          <li>La location en peut en aucun cas bénéficier à des tiers, sauf accord préalable avec le propriétaire.</li>
          <li>Aucune rature ou surcharge ne sera acceptée dans la rédaction du présent contrat.</li>
        </ul>
      </div>

    <div class="border border-dark p-2 m-2 small-text">
      <h6><u>Inventaire :</u></h6>
      <p>assiettes plates, à soupe et à dessert, couverts assortis, bols, mugs, tasses à café, verres à vin, à eau, à champagne, saladiers, 
        plats à four et à micro-ondes, cocotte minute, poêles, casseroles, faitout, essoreuse à salade, cafetière électrique, bouilloire, grille-pain, 
        appareil à raclette, appareil à fondue, moule à tarte et à cake, planche à découper, écumoire, louche, fouet, cuillères bois, spatules, passoire, 
        passe-thé, ouvre-boîtes, décapsuleur, tire-bouchons, presse-agrumes, râpe, pot à eau, économe, couteau à viande, à pain, robot moulinex, seau, pelle et balayette, 
        balai brosse, balai, serpillère, aspirateur, oreillers et sous taies, alèzes, couettes et housses de protection, jeux de société, TV, lecteur DVD, Wifi</p>
    </div>
      
      <div class="small-text">
        <div class="border border-dark ml-2 p-2 float-left description">
          <h6><u>Plan et descriptif</u></h6>
          <ul>
            <li>Chambre : - 2 lits de 90x190 <br>
                        - placard intégré avec penderie et rangement<br>
                        - tables de chevet et lampes<br>
                        - rideau</li>
            <li>Salle de douche : - cabine fermée<br>
                                - sèche-cheveux<br>
                                - vasque, miroir</li>
            <li>WC séparé</li>
            <li>Cuisine équipée : - réfrigérateur et petit congélateur<br>
                                - 4 plaques gaz<br>
                                - combiné four micro-ondes<br>
                                - lave-vaisselle<br>
                                - table et chaises</li>
            <li>Séjour : - canapé-lit convertible 2 personnes<br>
                       - table basse, étagères<br>
                       - meuble TV, Wifi<br>
                       - rideau</li>
            <li>Cave : - buanderie avec machine à laver<br>
                     - rangement skis, vélos...</li>
          </ul>
        </div>
        <div class="float-right w-50">
          <span class="ml-3"><%= image_tag image_url ("kath/plan_appartement.png")%>
        </div>
      </div>
    </div>

  </body>
</html>




