<%= render 'kath/admin/navbar_admin' %>

<div class="container text-center">
  <h2 class="p-3">Modifier la période</h2>

  <%= form_with(model: [:kath, @period], local: true, class:"d-flex justify-content-center") do |f| %>

    <div class="form-group">
      <%= f.label :titre_de_la_période %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.submit "Modifier la période", class: " mt-2 btn btn-success" %>

  <% end %>
  <%= link_to "Supprimer cette période", kath_period_path(@period.id), class: "mt-2 mx-2 btn btn-outline-danger", method: :delete, data: {confirm: "T'es sûr ? Toutes les semaine seront aussi supprimées !"} %>
</div>
