<%= render 'kath/admin/navbar_admin' %>

<div class="container text-center w-50">
  <h2 class="p-3">Ajouter une nouvelle période</h2>

  <%= form_with(model: [:kath, @period], local: true, class:"d-flex justify-content-center") do |f| %>

    <div class="form-group w-50">
      <%= f.label :titre_de_la_période %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.submit "Créer la période", class: " mt-2 btn btn-primary" %>

  <% end %>
</div>
