<div class="container text-center w-50">
  <h2 class="text-center p-3">Ajouter une nouvelle semaine de disponibilité</h2>

  <%= form_with(model: [:kath, @availability], local: true) do |f| %>

    <div class="form-group">
      <%= f.label :date_de_début_de_semaine %>
      <%= f.date_field :date, class: "form-control" %>
      
      <%= f.label :prix_de_la_semaine %>
      <%= f.number_field :price, min: 1, step: 1, class: "form-control" %>

      <%= f.label :periode_concernée %>
      <%= f.collection_select :period_id, Period.all, :id, :title, class:"form-control" %>

      <%= f.submit "Ajouter une nouvelle semaine", class: " mt-2 btn btn-success" %>

  <% end %>
</div>

<%= link_to "Accueil admin", kath_root_path, class: "btn btn-info" %>
